<?xml version="1.0" encoding="UTF-8"?>	
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.txt.BeSuper1102.mapping.AnswerMapper">
	<resultMap id="AnswerResultMap" type="Answer">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="value" property="value" jdbcType="VARCHAR" />
		<result column="question_id" property="question_id" jdbcType="INTEGER" />
		<result column="player_id" property="player_id" jdbcType="INTEGER" />
		<result column="best" property="best" jdbcType="VARCHAR" />
		<association property="question" column="question_id"
			javaType="Question" select="selectQuestionById" />
	</resultMap>

	<!-- <select id="getAllQuestion" resultMap="QuestionResultMap"> select * 
		from question </select> <select id="getAnswerByQuestionId" resultType="Answer"> 
		select * from answer where question_id=#{id} </select> <select id="getQuestionByPlayerId" 
		parameterType="Player" resultMap="QuestionResultMap"> select * from question 
		where player_id=#{id} </select> <select id="getQuestionByIsOpen" resultMap="QuestionResultMap"> 
		select * from question where isOpen='N' </select> <select id="getQuestionById" 
		parameterType="int" resultMap="QuestionResultMap"> select * from question 
		where id=#{id} </select> -->

	<insert id="insertAnswer" parameterType="Answer" keyProperty="id"
		useGeneratedKeys="true">
		INSERT INTO `iwantbesuper`.`answer` (`value`,
		`player_id`, `question_id`)
		VALUES (#{value}, #{player_id},
		#{question_id})
	</insert>

	<select id="selectAnswerByPlayerId" parameterType="Player"
		resultType="Answer">
		select * from answer where player_id = #{id}
	</select>

	<select id="selectAnswerByQuestionId" parameterType="Question"
		resultType="Answer">
		select * from answer where question_id = #{id}
	</select>

	<select id="selectAnswerById" parameterType="int" resultType="Answer">
		select * from answer where id = #{id}
	</select>

	<select id="selectQuestionById" resultType="Question">
		select * from
		question where id=#{question_id}
	</select>

	<update id="updateAnswer" parameterType="Answer">
		UPDATE `iwantbesuper`.`answer` SET `best`='Y' WHERE `id`=#{id};
	</update>


</mapper> 