<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- property -->
	<properties resource="config.properties">
		<property name="username" value="root" />
		<property name="password" value="niklaus1993" />
	</properties>

	<!-- Alias -->
	<typeAliases>
		<typeAlias alias="Player" type="com.txt.BeSuper1102.pojo.Player" />
		<typeAlias alias="Question" type="com.txt.BeSuper1102.pojo.Question" />
		<typeAlias alias="Answer" type="com.txt.BeSuper1102.pojo.Answer" />
	</typeAliases>


	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/txt/BeSuper1102/mapping/PlayerMapper.xml" />
		<mapper resource="com/txt/BeSuper1102/mapping/QuestionMapper.xml" />
	</mappers>
</configuration>